# =========================
# Runtime
# =========================
NODE_ENV=development
PORT=4000

# =========================
# Security / Auth
# =========================
JWT_SECRET=CHANGE_ME

# =========================
# Database
# =========================
DATABASE_URL=file:./prisma/dev.db

# =========================
# CORS
# =========================
ALLOWED_ORIGINS=http://localhost:5500,http://127.0.0.1:5500

# =========================
# Prisma seed
# =========================
SEED_ALLOW=false

SEED_ADMIN_EMAIL=admin@example.com
SEED_CLIENT_EMAIL=client@example.com

SEED_ADMIN_PASSWORD=CHANGE_ME
SEED_CLIENT_PASSWORD=CHANGE_ME
